[Unit]
Description=nymea splash screen
DefaultDependencies=no
After=local-fs.target
ConditionKernelCommandLine=!nosplash
ConditionKernelCommandLine=splash

[Service]
ExecStart=/usr/bin/fbi --noverbose -d /dev/fb0 -a /usr/share/nymea-splashscreen/nymea-splash.png -fitwidth
StandardInput=tty
StandardOutput=tty
#TTYPath=/dev/tty1

[Install]
WantedBy=sysinit.target
