[Unit]
Description=nymea app kiosk
After=systemd-user-sessions.service

# replaces plymouth-quit since lightdm quits plymouth on its own
Conflicts=plymouth-quit.service
After=plymouth-quit.service

# nymea-app takes responsibility for stopping plymouth, so if it fails
# for any reason, make sure plymouth still stops
OnFailure=plymouth-quit.service

[Service]
Environment=QT_QPA_EGLFS_ALWAYS_SET_MODE=1 QT_QPA_PLATFORM=eglfs QT_IM_MODULE=qtvirtualkeyboard
ExecStart=/usr/bin/nymea-app --kiosk --splash --connect nymeas://127.0.0.1:2222
Restart=always
User=nymea
Group=nymea

[Install]
WantedBy=multi-user.target
