[submodule "QtZeroConf"]
	path = QtZeroConf
	url = https://github.com/jbagg/QtZeroConf.git
[submodule "nymea-remoteproxy"]
	path = nymea-remoteproxy
	url = https://github.com/guh/nymea-remoteproxy.git
[submodule "qtcloudmessaging"]
	path = qtcloudmessaging
	url = https://github.com/qt/qtcloudmessaging.git
[submodule "QtFirebase"]
	path = QtFirebase
	url = https://github.com/Larpon/QtFirebase.git
