[submodule "QtZeroConf"]
	path = QtZeroConf
	url = https://github.com/mzanetti/QtZeroConf.git
[submodule "nymea-remoteproxy"]
	path = nymea-remoteproxy
	url = https://github.com/guh/nymea-remoteproxy.git
[submodule "android_openssl"]
	path = 3rdParty/android/android_openssl
	url = https://github.com/KDAB/android_openssl.git
	branch = 1.0.x
	shallow = true
