Source: nymea-app
Section: utils
Priority: optional
Maintainer: Michael Zanetti <michael.zanetti@nymea.io>
Standards-Version: 3.9.7
Homepage: https://nymea.io
Vcs-Git: https://github.com/guh/guh.git
Build-Depends: debhelper (>= 9.0.0),
               dpkg-dev (>= 1.16.1~),
               libavahi-client-dev,
               libavahi-common-dev,
               libqt5charts5-dev,
               libqt5svg5-dev,
               libqt5websockets5-dev,
               qtbase5-dev,
               qtconnectivity5-dev,
               qtdeclarative5-dev,
               qtquickcontrols2-5-dev,

Package: nymea-app
Architecture: any
Section: tools
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libqt5network5,
         libqt5gui5,
         libqt5websockets5,
         libqt5bluetooth5,
         qml-module-qt-labs-settings,
         qml-module-qtquick-controls2,
         qml-module-qtquick-layouts,
         qml-module-qtquick-window2,
         qml-module-qtquick2,
         xinit,
Suggests: nymea, 
          network-manager
Description: An open source IoT server - daemon
 The nymea daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install nymea:app.

