<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484445295371-s8duts7vmgefl9ti97d9oe3j8ptseucg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484445295371-s8duts7vmgefl9ti97d9oe3j8ptseucg</string>
	<key>API_KEY</key>
	<string>AIzaSyBym9KR23-2lDOUSLMHm6BQrwNqyKE_QGg</string>
	<key>GCM_SENDER_ID</key>
	<string>484445295371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.guh.nymeaApp</string>
	<key>PROJECT_ID</key>
	<string>nymea-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nymea-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484445295371:ios:cfb8ca8591d9d289a3080e</string>
	<key>DATABASE_URL</key>
	<string>https://nymea-app.firebaseio.com</string>
</dict>
</plist>